{% extends 'App::layout.html.twig' %}

{% block subtitle 'Homepage' %}

{% block header %}
    
	<h1>Welcome the the GetTested project</h1>
	<hr/>
	<p>
		The salab boyle for all the good stuff for any Web PHP programmers !
	</p>

{% endblock header %}
